@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {

    --font-inter: "Inter", serif;

    --color-purple-50: #f9f5ff;
    --color-purple-100: #f1e9fe;
    --color-purple-200: #e6d6fe;
    --color-purple-300: #d3b6fc;
    --color-purple-400: #b787f9;
    --color-purple-500: #a263f3;
    --color-purple-600: #8638e5;
    --color-purple-700: #7227c9;
    --color-purple-800: #6125a4;
    --color-purple-900: #501f84;
    --color-purple-950: #340a61;

}